<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head_includes') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body
>
<%- include('../partials/admin_header') %>
<div class="product-area2  text-center">
    <div class="container">
        <div class="title-area text-center">
            <!--                <h3 class="sub-title"><span class="double-line"></span> TOP CAR INVENTORY</h3>-->
            <h2 class="sec-title" style="color: rgb(255, 192, 0);">View All Bookings</h2>
        </div>
        <div class="row gy-25" id="cards">


            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Ferrari F12 TRS</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_2.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                        <h5 class="price h6">$274.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Mercedes-Benz</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_3.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                        <h5 class="price h6">$250.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Mazda MX Miata</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_4.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                        <h5 class="price h6">$300.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Audi A4 1.8 TFSI</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_5.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                        <h5 class="price h6">$350.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Tesla S-Line Upon</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_6.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                        <h5 class="price h6">$355.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">BMW 640 XI Gran</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_7.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                        <h5 class="price h6">$360.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Maserati Ghibli SQ4</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_8.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                        <h5 class="price h6">$255.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-50">
                <a class="as-btn style4" href="shop.html">VIEW MORE</a>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>
<%- include('../partials/body_includes') %>
<script>
    window.onload=function ()
    {
        fetchCarReq();
    }
    async function fetchCarReq()
    {
        var res=await fetch('/admin/fetchbooking');
        res=await res.json();
        var records=res.records;
         // console.log(records);
        var html=``;
        for(var x of records)
        {
            html+=` <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="as-product style2">
                        <div class="product-thumb-wrap">
                            <h6 class="product-title">${x.car.brand} ${x.car.name}</h6>
                            <div class="product-img">
                                <img src="${x.car.photo}" alt="product image">
                            </div>
                           </div>

                        <div class="product-content">
                            <h5 class="price h6">Rs.${x.car.price}</h5>
                            <span class="year-tag">${x.car.model}</span>`
            if(x.status=='Pending')
            {
                html+=`<h6 style="margin:0px; padding: 0px;"> Status :<span style='background-color:yellow; color: white;'> ${x.status}</span> </h6>`;
            }
            else if(x.status=='Approved')
            {
                html+=`<h6 style="margin:0px; padding: 0px;"> Status :<span style='background-color:blue; color: white;'> ${x.status}</span> </h6>`;
            }
            else if(x.status=='Cancelled')
            {
                html+=`<h6 style="margin:0px; padding: 0px;"> Status :<span style='background-color:red; color: white;'> ${x.status}</span> </h6>`;
            }
            else
            {
                html+=`<h6 style="margin:0px; padding: 0px;"> Status :<span style='background-color:green; color: white;'> ${x.status}</span> </h6>`;
            }
                   html+=`         <h6 class="price h6">Booked At:- ${x.createdAt.split('T')[0]}</h6>
                            <div class="mt-2">
                                <h5 class="price h6">User Details :-</h5>
                                <p style="margin:0px; padding: 0px; padding-left: 10px; font-size: 13px;">Name:- ${x.user.first_name} ${x.user.last_name}</p>
                                <p style="margin:0px; padding: 0px; padding-left: 10px; font-size: 13px;">Email:- ${x.user.email} </p>
                                <p style="margin:0px; padding: 0px; padding-left: 10px; font-size: 13px;">Mobile:- ${x.user.mobile} </p>
                            </div>
                             <div class="mt-2">
                                <h5 class="price h6">Dealer Details :-</h5>
                                <p style="margin:0px; padding: 0px; padding-left: 10px; font-size: 13px;">Name:- ${x.dealer.name} </p>
                                <p style="margin:0px; padding: 0px; padding-left: 10px; font-size: 13px;">Email:- ${x.dealer.email} </p>
                             </div>
                          <div class='row'>`



            html+=`
                          </div>
                        </div>
                    </div>
                </div>`;
        }
        document.getElementById("cards").innerHTML=html;

    }

</script>
</body>
</html>