<!--==============================
    Preloader
==============================-->
<div class="preloader">
    <button class="as-btn style2 preloaderCls">Cancel Preloader </button>
    <div class="preloader-inner">
        <div class="loading-window">
            <div class="car">
                <div class="strike"></div>
                <div class="strike strike2"></div>
                <div class="strike strike3"></div>
                <div class="strike strike4"></div>
                <div class="strike strike5"></div>
                <div class="car-detail spoiler"></div>
                <div class="car-detail back"></div>
                <div class="car-detail center"></div>
                <div class="car-detail center1"></div>
                <div class="car-detail front"></div>
                <div class="car-detail wheel"></div>
                <div class="car-detail wheel wheel2"></div>
            </div>
        </div>
    </div>
</div>

<!--==============================
Mobile Menu
============================== -->
<div class="as-menu-wrapper">
    <div class="as-menu-area text-center">
        <button class="as-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="/"><img src="/assets/img/logo-2.svg" alt="dealaro"></a>
        </div>
        <div class="as-mobile-menu">
            <ul>
                <li class="menu-item-has-children">
                    <a href="">HOME</a>
                    <!--                    <ul class="sub-menu">-->
                    <!--                        <li><a href="">Home Automotive Repair</a></li>-->
                    <!--                        <li><a href="">Home Car Dealer</a></li>-->
                    <!--                        <li><a href="">Home Logistic Dealer</a></li>-->
                    <!--                    </ul>-->
                </li>

                <li>
                    <a href="">ABOUT</a>
                </li>
                <li>
                    <a href="">CONTACT</a>
                </li>
                <!--                <li class="menu-item-has-children">-->
                <!--                    <a href="#">SERVICES</a>-->
                <!--                    <ul class="sub-menu">-->
                <!--                        <li><a href="service.html">Service Page</a></li>-->
                <!--                        <li><a href="service-details.html">Service Details</a></li>-->
                <!--                    </ul>-->
                <!--                </li>-->

                <!--                <li class="menu-item-has-children">-->
                <!--                    <a href="">BLOG</a>-->
                <!--                    <ul class="sub-menu">-->
                <!--                        <li><a href="blog.html">Blog Page</a></li>-->
                <!--                        <li><a href="blog-details.html">Blog Details</a></li>-->
                <!--                    </ul>-->
                <!--                </li>-->
                <li>
                    <a href="">CARS</a>
                </li>

            </ul>
        </div>
    </div>
</div>

<!--==============================
Header Area
==============================-->
<header class="as-header header-layout2">

    <div class="sticky-wrapper">
        <!-- Main Menu Area -->
        <div class="menu-area">
            <div class="logo-bg-shape"></div>
            <div class="container-fluid">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo">
                            <a href=""><img src="/assets/img/logo-2.svg" alt="dealaro"></a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="menu-area">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li >
                                        <a href="/dealer/dashboard">DASHBOARD</a>
                                        <!--                                        <ul class="sub-menu">-->
                                        <!--                                            <li><a href="">Home Automotive Repair</a></li>-->
                                        <!--                                            <li><a href="home-car-dealer.html">Home Car Dealer</a></li>-->
                                        <!--                                            <li><a href="home-logistic.html">Home Logistic Dealer</a></li>-->
                                        <!--                                        </ul>-->
                                    </li>

                                    <li>
                                        <a href="/dealer/manage_car">MANAGE CARS</a>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="">CAR REQUESTS</a>
                                        <ul class="sub-menu">
                                            <li><a href="/dealer/car_req">PENDING</a></li>
                                            <li><a href="/dealer/view_approved_req">APPROVED</a></li>
                                            <li><a href="/dealer/view_completed_req">COMPLETED</a></li>
                                            <li><a href="/dealer/view_cancelled_req">CANCELLED</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="">SETTING</a>
                                        <ul class="sub-menu">
                                            <li><a href="/dealer/changePassword">CHANGE PASSWORD</a></li>
                                            <li><a href="/dealer/profile">PROFILE</a></li>
                                            <li><a href="/dealer/logout">LOGOUT</a></li>
                                        </ul>
                                    </li>



                                </ul>
                            </nav>
                            <button type="button" class="as-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                        </div>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <div class="header-button">
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>