<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/head_includes')%>
    <style>
        .error{
            color:orangered;
        }
        .card {
            background-color: #f0f0f0;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<div class="page-inner">
    <%-include('../partials/user_header')%>
    <!--    change password-->

    <div class="container-fluid card col-md-6 mb-3">
        <h4 class="text-center" style="color: rgb(255, 192, 0);">Change Password</h4>
        <hr>

        <div class="log-in-area white-bg ptb-70 small-ptb-30">
            <div class="container">
                <div class="row justify-content-center">

                    <!--  offset-lg-3-->
                    <div class="col-lg-6 ">
                        <div class="form-single form-single-right">
                            <form id="changePassword">
                                <div class="mb-3">
                                    <label for="old_password">Enter Old Password</label>
                                    <input type="password" name="old_password" id="old_password" class="form-control border border-2 border-dark" required data-msg-required="Enter Your Old Password" placeholder="Enter your old Password" >
                                </div>
                                <div class="mb-3">
                                    <label for="new_password">Enter New Password</label>
                                    <input type="password" name="new_password" id="new_password" class="form-control border border-2 border-dark" required data-msg-required="Enter Your New Password" placeholder="Enter your New Password" >
                                </div>
                                <div class="mb-3">
                                    <label for="confirm_password">Enter Confirm Password</label>
                                    <input type="password" name="confirm_password" id="confirm_password" class="form-control border border-2 border-dark" required data-msg-required="Enter Your Confirm Password" data-rule-equalto="#new_password" placeholder="Enter your Confirm Password" >
                                </div>
                                <button type="button" class='as-btn style4'onclick="changePassword()"><span class="button-inner ">Change Password</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../partials/footer')%>
</div>
<%- include('../partials/body_includes')%>
<script>
    async function changePassword()
    {
        if($('#changePassword').valid())
        {

            var old_password = document.getElementById("old_password").value;
            var new_password = document.getElementById("new_password").value;
            if (old_password != new_password)
            {
                var res = await fetch('/user/changePassword', {
                    method: 'PUT',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                        password: old_password,
                        new_password: new_password
                    })
                })
                res = await res.json();
                if (res.error)
                {
                    Qual.errordb("Error", res.message);
                }
                else
                {
                    Qual.successdb("Success", res.message);
                    document.getElementById("changePassword").reset();
                }
            }
            else
            {
                Qual.errordb("Error", "Old and New Password Cannot Be Same");
            }
        }


    }

</script>
</body>
</html>