<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <%-include('partials/head_includes')%>

    <style>
        .error
        {
            color:red;
        }
        .fa-solid
        {
            color:goldenrod;
        }

    </style>
</head>
<body>
<%-include('partials/header')%>

<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper" data-bg-src="/assets/img/bg/breadcrumb-bg.png" data-overlay="title" data-opacity="7">
    <!-- bg animated image/ -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="breadcumb-content">
                    <h1 class="breadcumb-title">About Us</h1>
                    <ul class="breadcumb-menu">
                        <li><a href="home-child-care.html">Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="breadcumb-thumb">
                    <img src="/assets/img/normal/breadcumb-thumb.png" alt="img">
                </div>
            </div>
        </div>

    </div>
</div>
<!--==============================
    About Area 2
==============================-->
<section class="about-area2 space overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-thumb-wrap2 mb-lg-0 mb-5">
                    <div class="shape-mockup" data-bottom="-120px" data-right="0" data-left="-66%">
                        <img class="about-thumb-bg2" src="assets/img/about/about_thumb_bg_2.png" alt="img">
                    </div>
                    <div class="thumb-1"><img src="assets/img/about/about_2_1.png" alt="img"></div>
                    <div class="thumb-2"><img src="assets/img/about/about_2_2.png" alt="img"></div>
                    <div class="about-counter1">
                        <h3 class="counter-title"><span class="counter-number">1</span>k+</h3>
                        <span class="counter-text">BEST CAR DEALER
                            AWARD</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="title-area mb-0">
                    <h3 class="sub-title">ABOUT OUR COMPANY</h3>
                    <h2 class="sec-title">Welcome to Our Dealaro Car
                        Dealer Company</h2>
                    <p class="content">Progressively develop out-of-the-box initiatives with superior opportunities. Interactively streamline cross-media partnerships without efficient process improvements. Distinctively network exceptional e-services.</p>
                    <div class="list-column2">
                        <div class="checklist">
                            <ul>
                                <li><img src="assets/img/icon/check.svg" alt="img"> We’re Here When You Need Us</li>
                                <li><img src="assets/img/icon/check.svg" alt="img"> Service & Maintenance</li>
                                <li><img src="assets/img/icon/check.svg" alt="img"> In House Financing</li>
                            </ul>
                        </div>
                        <div class="checklist">
                            <ul>
                                <li><img src="assets/img/icon/check.svg" alt="img"> Best Collection</li>
                                <li><img src="assets/img/icon/check.svg" alt="img"> Famous Brands</li>
                                <li><img src="assets/img/icon/check.svg" alt="img">Trusted Car Dealer</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--==============================
    Team Area 02
==============================-->
<section class="team-area-2 space">
    <div class="container">
        <div class="title-area text-center">
            <h3 class="sub-title"><span class="double-line"></span> TEAM MEMBERS</h3>
            <h2 class="sec-title">Our Expert Team Members</h2>
        </div>
        <div class="row as-carousel team-slider" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true">
            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">
                    <div class="team-img">
                        <img src="assets/img/team/team-2-1.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Anjelina Sinthiya</a></h3>
                        <span class="team-desig">Company CEO</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">
                    <div class="team-img">
                        <img src="assets/img/team/team-2-2.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Rothar Federer</a></h3>
                        <span class="team-desig">Customer Advisor</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">
                    <div class="team-img">
                        <img src="assets/img/team/team-2-3.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Jenifer Lopez</a></h3>
                        <span class="team-desig">Managing Director</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">
                    <div class="team-img">
                        <img src="assets/img/team/team-2-4.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Alex Furnandes</a></h3>
                        <span class="team-desig">Company Secretary</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">
                    <div class="team-img">
                        <img src="assets/img/team/team-2-1.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Anjelina Sinthiya</a></h3>
                        <span class="team-desig">Company CEO</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">
                    <div class="team-img">
                        <img src="assets/img/team/team-2-2.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Rothar Federer</a></h3>
                        <span class="team-desig">Customer Advisor</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">
                    <div class="team-img">
                        <img src="assets/img/team/team-2-3.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Jenifer Lopez</a></h3>
                        <span class="team-desig">Managing Director</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">
                    <div class="team-img">
                        <img src="assets/img/team/team-2-4.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Alex Furnandes</a></h3>
                        <span class="team-desig">Company Secretary</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--==============================
    Why-choose-us Area 04
==============================-->
<div class="wcu-area-4" data-bg-src="assets/img/wcu/wcu_bg.png">
    <div class="container-fluid p-0">
        <div class="row gx-0">
            <div class="col-xl-6">
                <div class="wcu-thumb style-2 video-box1" data-bg-src="/assets/img/wcu/wcu-4.png">
                    <a href="https://www.youtube.com/watch?v=P7fi4hP_y80" class="play-btn popup-video">
                        <i class="fa-sharp fa-solid fa-play"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="wcu-wrap4 space-top">
                    <div class="title-area">
                        <span class="sub-title">WHY CHOOSE US </span>
                        <h2 class="sec-title">We Got Your Covered. Good Cars
                            Good people guarantee.</h2>
                        <p class="content">Uniquely reintermediate distinctive niche market wherea interoperable infomediarie. Completely negotiate seamless partnerships via cutting-edge expertise. Rapidiously reintermediate cooperative expertise rather than high-quality growth strategies.</p>
                    </div>
                    <div class="row  g-4">
                        <div class="col-sm-6">
                            <div class="wcu-card">
                                <div class="icon">
                                    <img src="assets/img/icon/wcu-box-icon-1.svg" alt="icon">
                                </div>
                                <h3 class="card-title h4">Wide range of brands</h3>
                                <p class="content">Dynamically redefine flexible core competencies with synergistic.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="wcu-card">
                                <div class="icon">
                                    <img src="assets/img/icon/wcu-box-icon-2.svg" alt="icon">
                                </div>
                                <h3 class="card-title h4">Get Reasonable Price</h3>
                                <p class="content">Reasonable redefine flexible core competencies with synergistic.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================
    Counter Area 02
==============================-->
<div class="container space-top pt-xl-0 pb-xl-0">
    <div class="counter-area2 text-center" data-bg-src="assets/img/bg/counter_bg.png">
        <div class="row gy-25 justify-content-center">
            <div class="col-sm-6 col-xl-3">
                <div class="counter-card2">
                    <div class="counter-card_icon">
                        <img src="assets/img/counter/counter_icon_2_1.svg" alt="img">
                    </div>
                    <div class="card-details">
                        <h2 class="counter-card_number"><span class="counter-number">27600</span>+</h2>
                        <p class="counter-card_text">CARS FOR SALE</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="counter-card2">
                    <div class="counter-card_icon">
                        <img src="assets/img/counter/counter_icon_2_2.svg" alt="img">
                    </div>
                    <div class="card-details">
                        <h2 class="counter-card_number"><span class="counter-number">1600</span>+</h2>
                        <p class="counter-card_text">VERIFIED DEALERS</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="counter-card2">
                    <div class="counter-card_icon">
                        <img src="assets/img/counter/counter_icon_2_3.svg" alt="img">
                    </div>
                    <div class="card-details">
                        <h2 class="counter-card_number"><span class="counter-number">25600</span>+</h2>
                        <p class="counter-card_text">HAPPY CUSTOMER</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="counter-card2">
                    <div class="counter-card_icon">
                        <img src="assets/img/counter/counter_icon_2_4.svg" alt="img">
                    </div>
                    <div class="card-details">
                        <h2 class="counter-card_number"><span class="counter-number">18600</span>+</h2>
                        <p class="counter-card_text">ACTIVE USERS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================
    Testimonial Area 4
==============================-->
<div class="container">
    <div class="testiomonial-area-4 space" data-bg-src="assets/img/testimonial/testi_bg.png">
        <div class="title-area text-center">
            <span class="sub-title"><span class="double-line"></span> TESTIMONIALS</span>
            <h2 class="sec-title">Our Customer Feedback</h2>
        </div>
        <div class="testimonial-slider3" id="reviews" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-xs-slide-show="1" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true">

        </div>
    </div>
</div>
<!--==============================
    Brand Area
==============================-->
<div class="client-sec1 space-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-area text-center">
                    <h2 class="client-title h4 mb-0"><span class="double-line"></span> WE HAVE TRUSTED MORE THEN <span class="text-theme">20K+</span>GLOBAL CLIENTS</h2>
                </div>
            </div>
        </div>
        <div class="client-box-border">
            <div class="row as-carousel" id="brandSlide1" data-slide-show="5" data-lg-slide-show="4" data-md-slide-show="3" data-sm-slide-show="2" data-xs-slide-show="1" data-arrows="false">
                <div class="col-auto client-box">
                    <img src="assets/img/client/client_1_1.png" alt="Client Logo">
                </div>
                <div class="col-auto client-box">
                    <img src="assets/img/client/client_1_2.png" alt="Client Logo">
                </div>
                <div class="col-auto client-box">
                    <img src="assets/img/client/client_1_3.png" alt="Client Logo">
                </div>
                <div class="col-auto client-box">
                    <img src="assets/img/client/client_1_1.png" alt="Client Logo">
                </div>
                <div class="col-auto client-box">
                    <img src="assets/img/client/client_1_4.png" alt="Client Logo">
                </div>
                <div class="col-auto client-box">
                    <img src="assets/img/client/client_1_2.png" alt="Client Logo">
                </div>
                <div class="col-auto client-box">
                    <img src="assets/img/client/client_1_3.png" alt="Client Logo">
                </div>
            </div>
        </div>
    </div>
</div>
<%-include('partials/footer')%>
<%-include('partials/body_includes')%>
<script src="/checkuser.js"></script>
<script src="/checkdealer.js"></script>
<script>
    window.onload = function ()
    {
        checkuser();
        checkdealer();
        fetchReview();
    };
    async function fetchReview()
    {
        var res=await fetch('/fetchreviews');
        res=await res.json();
        var records=res.records;
        console.log(records);
        var html=`<div class='row'>`;
        for(var x of records)
        {
            html+=`<div class="col-md-4 col-sm-6 col-12">
                <div class="testi-box3">
                    <div class="quote-icon">
                        <img src="${x.car.photo}" alt="img">
                    </div>
                    <p class="testi_content"> ${x.feedback}</p>`

                    html+=`<div class="testi-box_profile">
                        <div class="thumb">
                            <img src="${x.user.photo}" alt="img">
                        </div>
                        <div class="details">
                            <h4 class="testi-box_name">${x.user.first_name}${x.user.last_name} </h4>`
                            for(var i=1; i<=x.rating; i++)
                            {
                                html+=` <i class="fa-solid fa-star"></i>`;
                            }
                            for(var i=1; i<=5-x.rating; i++)
                            {
                                html+=` <i class="fa-regular fa-star"></i>`;
                            }

                       html+=` </div>
                    </div>
                </div>
            </div>`;
        }
        html+=`</div>`
        document.getElementById('reviews').innerHTML=html;
    }
</script>
</body>
</html>