<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <%-include('partials/head_includes')%>
</head>

<body >
<%-include('partials/header')%>

<!--==============================
    Hero Area 02
==============================-->
<div class="as-hero-wrapper hero-2" id="hero">
    <div class="hero-slider-wrap-2">
        <div class="hero-slider-2 as-carousel" data-fade="true" data-slide-show="1" data-md-slide-show="1" data-dots="false" data-adaptive-height="true">

            <div class="as-hero-slide">
                <div class="as-hero-bg" data-bg-src="/assets/img/hero/hero_bg_2_1.png"></div>
                <span class="hero-bg-color" data-theme-color="#0046E2"></span>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-md-5 align-self-center order-md-2">
                            <div class="hero-thumb slideinright as-animated" data-theme-color="#0046E2" data-ani="slideinright" data-ani-delay="0.1s">
                                <span class="car-mask" data-mask-src="/assets/img/hero/hero_thumb_2_1.png"></span>
                                <img src="/assets/img/hero/hero_thumb_2_1.png" alt="img">
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-7 order-md-1">
                            <div class="hero-style2">
                                <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.0s">
                                    ULTIMATE HORSE
                                </span>
                                <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.1s">Empowering Your Journey with <span class="text-theme">Luxury</span></h1>
                                <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.2s">
<!--                                    <a href="contact.html" class="as-btn style5">EXPLORE MORE</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="as-hero-slide">
                <div class="as-hero-bg" data-bg-src="assets/img/hero/hero_bg_2_1.png"></div>
                <span class="hero-bg-color" data-theme-color="#FFC000"></span>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-md-5 align-self-center order-md-2">
                            <div class="hero-thumb slideinright as-animated" data-theme-color="#FFC000" data-ani="slideinright" data-ani-delay="0.1s">
                                <span class="car-mask" data-mask-src="assets/img/hero/hero_thumb_2_1.png"></span>
                                <img src="assets/img/hero/hero_thumb_2_1.png" alt="img">
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-7 order-md-1">
                            <div class="hero-style2">
                                <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.0s">
                                    SUPERIOR HORSE
                                </span>
                                <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.1s">Your Journey Starts Here With <span class="text-theme">Quality</span></h1>
                                <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.2s">
<!--                                    <a href="contact.html" class="as-btn style5">EXPLORE MORE</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="as-hero-slide">
                <div class="as-hero-bg" data-bg-src="assets/img/hero/hero_bg_2_1.png"></div>
                <span class="hero-bg-color" data-theme-color="#FC0012"></span>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-md-5 order-md-2 align-self-center">
                            <div class="hero-thumb slideinright as-animated" data-theme-color="#FC0012" data-ani="slideinright" data-ani-delay="0.1s">
                                <span class="car-mask" data-mask-src="assets/img/hero/hero_thumb_2_1.png"></span>
                                <img src="assets/img/hero/hero_thumb_2_1.png" alt="img">
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-7 order-md-1">
                            <div class="hero-style2">
                                <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.0s">
                                    ULTIMATE HORSE
                                </span>
                                <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.1s">Where Every Mile Begins with <span class="text-theme">Style</span></h1>
                                <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.2s">
<!--                                    <a href="contact.html" class="as-btn style5">EXPLORE MORE</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="hero-indicator" data-asnavfor=".hero-slider-2">
            <a class="indicatior-btn active"><img src="assets/img/hero/hero_bg_2_3_indicator.png" alt="img"></a>
            <a class="indicatior-btn"><img src="assets/img/hero/hero_bg_2_1_indicator.png" alt="img"></a>
            <a class="indicatior-btn"><img src="assets/img/hero/hero_bg_2_2_indicator.png" alt="img"></a>
        </div>
    </div>
</div>
<!--======== / Hero Section ========-->

<!--==============================
    Category Area
==============================-->
<section class="category-area space" style="background-attachment: fixed;" data-bg-src="assets/img/bg/category_bg.png" data-overlay="title" data-opacity="7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title-area text-center">
                    <h3 class="sub-title"><span class="double-line"></span> CAR CATEGORY</h3>
                    <h2 class="sec-title text-white">Browse By Car Type</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" id="categories" data-slide-show="4" data-lg-slide-show="4" data-md-slide-show="4" data-sm-slide-show="3" data-xs-slide-show="2" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true">

        </div>
    </div>
</section>
<!--==============================
    Product Area 02
==============================-->
<div class="product-area2 space text-center" data-bg-src="assets/img/bg/product2-bg.png">
    <div class="container">
        <div class="title-area text-center">
            <h3 class="sub-title"><span class="double-line"></span> TOP CAR INVENTORY</h3>
            <h2 class="sec-title">Latest Featured Car Inventory</h2>
        </div>
        <div class="row gy-25" id="cars">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Ford Explorer XLT</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_1.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                        <h5 class="price h6">$174.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Ferrari F12 TRS</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_2.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                        <h5 class="price h6">$274.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Mercedes-Benz</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_3.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                        <h5 class="price h6">$250.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Mazda MX Miata</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_4.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                        <h5 class="price h6">$300.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Audi A4 1.8 TFSI</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_5.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                        <h5 class="price h6">$350.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Tesla S-Line Upon</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_6.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                        <h5 class="price h6">$355.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">BMW 640 XI Gran</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_7.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                        <h5 class="price h6">$360.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Maserati Ghibli SQ4</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_8.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                        <h5 class="price h6">$255.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<%-include('partials/footer')%>
<%-include('partials/body_includes')%>
<script src="/checkuser.js"></script>
<script src="/checkdealer.js"></script>
<script>
    window.onload=function ()
    {
        checkuser();
        checkdealer();
        fetchcategories();
        fetchcars('all');
    }
    async function fetchcategories()
    {
        var res=await fetch('/fetchCategories');
        res=await res.json();
        var records=res.records;
        var html=`<div class="col-md-2">
                <div class="cat-wrap">
                    <div class="thumb" onclick='fetchcars("all")'>
                        <img src="/images/images.jpg" width='200px;' style="height:90px;" alt="image">
                    </div>
                    <h4 class="cat-content h5">
                        <a onclick='fetchcars("all")'> All <span class="text-theme"></span></a>
                    </h4>
                </div>
            </div>`;
        for(var x of records)
        {
            html+=`<div class="col-md-2">
                <div class="cat-wrap">
                    <div class="thumb" onclick='fetchcars(${x.id})'>
                       <img src="${x.photo}" width='200px;' style="height:90px;" alt="image">
                    </div>
                    <h4 class="cat-content h5">
                        <a onclick='fetchcars(${x.id})'>${x.name} <span class="text-theme"></span></a>
                    </h4>
                </div>
            </div>`;
        }
        document.getElementById("categories").innerHTML=html;
    }
    async function fetchcars(id)
    {
        var res=await fetch('/fetchcars/'+id);
        res=await res.json();
        var records=res.records;
        var html=``;
        for(var x of records)
        {
            html+=`<div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5">${x.brand} ${x.name}</h4>
                        <div class="product-img">
                            <img src="${x.photo}" alt="product image">
                        </div>
                     </div>

                    <div class="product-content">
                        <h5 class="price h6">Rs. ${x.price}</h5>
                        <span class="year-tag">${x.model}</span>

                        <ul class="product-feature">
                                <li>
                                    <div class="icon"><img src="/assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                    ${x.ownerType}
                                </li>
                                <li>
                                    <div class="icon"><img src="/assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                    ${x.engineCapacity}
                                </li>
                                <li>
                                    <div class="icon"><img src="/assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                    ${x.transmissionType}
                                </li>
                                <li>
                                    <div class="icon"><img src="/assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                    ${x.fuelType}
                                </li>
                        </ul>
                        <div class="mt-2">
                                <p style="margin:0px; padding: 0px;"> Milaege: ${x.mileage} km/l</p>
                                <p> Km Driven: ${x.kmDriven} kms</p>
                        </div>
                        <a class="as-btn style-border btn-fw" href="/single_car/${x.id}">VIEW DETAILS</a>
                    </div>
                </div>
            </div>`;
        }
        document.getElementById("cars").innerHTML=html;
    }
</script>
</body>

</html>